body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.head-container {
    font-size: 15px;
    line-height: 10px;
    width: 100%;
    background-color: rgb(72, 193, 74);
    color: aliceblue;
    padding-bottom: 25px;
    padding-top: 25px;
}

.body-container {
    background-color: rgb(243, 239, 234);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    align-content: center;
    align-content: flex-start;
    margin-left: auto;
    margin-right: auto;

}

.get-start-button{
    text-align: center;
    align-content: center;
    align-content: flex-start;
    margin-left: 46%;
    font-size: 15px;
    width: 6%;
    background-color: #46cf54;
    color: rgb(232, 236, 239);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type=submit] {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 15px;
    width: 30%;
    background-color: #e3e3e6;
    color: rgb(2, 8, 13);
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-container {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(1, 12, 22);
    text-align: center;
    color: rgb(255, 253, 253);
    padding-top: 5px;
    padding-bottom: 5px;
}