body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(77, 21, 130);
}

.container {
    justify-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    color: white;
}

.input-group {
    display: flex;
    gap: 40px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 14px;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    margin-left: 10px;
    margin-top: 15px;
    padding: 10px;
    width: 40%;
    border: none;
    background: white;
    color: black;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ddd;
}